* {
    padding: 0;
    margin: 0;
}
#content{
    display: grid;
    grid-template-areas: "hearder nav" "content aside" "footer footer";
}

#menu{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    
   
}

logo-site{
    position: relative;
    padding: 0;
    align-content: center;
    margin: 25px 0;
    grid-area: LOGO;
    background-color: aqua;
}

.site-nav{
    position: relative;
    padding: 0;
    text-align: center;
    margin: 25px 0;
    
}.list--inline > li{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}


li{
    list-style: none;
    
}

main-conteudo{
    grid-area: CONTEUDO;
    background-color: blue;
}

@media all and (max-width: 800px){
    .menu{
        justify-content: space-around;
    }
}

@media all and (max-width: 500px){
    .menu{
        flex-direction: column;
    }
}